/*GeneratePress breakpoints*/
/*@media (max-width: 768px) {*/
/*!* CSS in here for mobile only *!*/
/*}*/
/*@media (min-width: 769px) and (max-width: 1024px) {*/
/*!* CSS in here for tablet only *!*/
/*}*/
/*@media (min-width: 1025px) {*/
/*!* CSS in here for desktop only *!*/
/*}*/

/*Beaver breakpoints*/
/*1024 and 768*/

/*--- HOME THUMBNAIL GRID ---*/
@media (min-width : 600px) {
    #home-grid-wrapper .fl-col {
        -ms-flex-preferred-size : 50%;
        flex-basis              : 50%;
        width                   : 50% !important;

    }
}

@media (min-width : 840px) {
    #home-grid-wrapper .fl-col {
        -ms-flex-preferred-size : 25%;
        flex-basis              : 25%;
        width                   : 25% !important;
    }
}

@media (max-width : 768px) {
    .separate-containers .inside-article {
        padding : 20px;
    }

    .inside-site-info {
        padding : 0 10px;
    }

    .project-col {
        max-width : 400px !important;
    }

    .project-col h2, .project-col p {
        text-align : left !important;
    }

}